/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* Flex Version */
/*body { 
	width: 1100px;
	margin: auto;
}

/* Nav Bar */
/*
 nav {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

nav a {
	color: #afafaf;
	text-decoration: none;
}

/* Header Section */
/*
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	border-bottom: 1px solid black;
}

#header-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 100px;
}

#header-left h1 {
	font-size: 5rem;
	text-align: center;
	padding-bottom: 10px;
}

#header-left #btn {
	width: auto;
	padding: 10px 50px;
	border: 1px solid black;
}

#header-left #btn:hover { cursor: pointer; }

/* First Section */
/*
section#top {
	display: flex;
	padding: 30px 0 50px 0;
}

section#top #features { margin-right: 100px; }


/* Middle Banner */
/*
#middle-banner {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#middle-banner img {
	width: 100%;
	height: auto;
}


/* Second Section */
/*
section#bottom {
	display: flex;
	padding: 30px 0 50px 0;
	border-bottom: 1px solid black;
}

#services { margin-right: 10px; }
#product { margin-right: 10px; }


/* Contact */
/*
#contact { margin-top: 40px; }


/* Footer */
/*
footer {
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
} */

/* Non-flex */
/* Reset */
* {
	box-sizing: border-box;
	max-width: 100%;
	padding: 0;
	text-decoration: none;
}

body { 
	width: 1000px;
	margin: 0 auto;
}


/* Nav Section */

nav {
	background-color: steelblue;
	border: 1px solid #333;
	padding: 30px 0 30px;
	position: sticky;
	top: 0;
	z-index: 1;
	font-family: 'Lato', sans-serif;
}

nav a {
	margin: 3%;
	color: #fff;
}

nav img {
	margin: 0 3%;
}

nav a:last-child { margin-right: 0; }

/* Header */

header { 
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}

#header-left {
	display: inline-block;
	text-align: center;
	margin: 40px 9% 0;
	width: 40%;
}

#header-left h1 { 
	font-size: 5rem;
}

#header-left #btn {
	display: inline-block;
	padding: 10px 50px;
	border: 1px solid black;
}

#header-right {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

#header-left #btn:hover { cursor: pointer; }

/* Section: Features & About */
#top { margin: 40px 0; }

#features {
	display: inline-block;
	width: 49%;
}

#about {
	display: inline-block;
	width: 49%;
}


/* Section: Middle Banner */
#middle-banner img { width: 100%; }


/* Section: Services, Product, Vision */
#bottom {
	margin: 40px 0;
	border-bottom: 1px solid black;
}

#services {
	display: inline-block;
	width: 32%;
}

#product {
	display: inline-block;
	width: 32%;
	margin: 0 1%;
	padding-bottom: 40px;
}

#vision {
	display: inline-block;
	width: 32%;
}


/* Footer */
#contact {
	margin-bottom: 40px;
}

footer {
	display: inline-block;
	margin: 0 40% 80px;
}